<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>

  <p style="color:white">

<a href="https://www.codementor.io/@miroslavkutak?refer=badge">
  <img src="codementor_profile.png">
 <br>
  <img src="codementor_rate.png">
 </a>

 <br>

  <a href="https://calendly.com/kutakmiroslav/meeting">
    <img src="book_session_button2.png">
  </a>

  <br>

    <a href="https://linkedin.com/in/miroslavkutak/"><img src="linkedin2.png" alt="Linkedin badge"></a>
</p>
</div>


<div class="user">
</div>